---
layout: post
---
<div class="center">
{% if page.previous %}
<span class="float-left">
<a href="{{ page.previous.url }}">{{ page.previous.title}}</a>
</span>
{% endif %}
{% if page.next %}
<span class="float-right">
<a href="{{ page.next.url }}">{{ page.next.title}}</a>
</span>
{% endif %}
<span>
{{ page.title }}
</span>
</div>
<br>

<iframe id="ytplayer" type="text/html" width="800" height="450" src="https://www.youtube.com/embed/{{ page.youtubeid }}" frameborder="0" allowFullScreen="yes"></iframe>
{{ content }}
<h3>Downloads:</h3>
<ul>
<li><a href="{{ page.audiodl }}">{{ page.date | date: "%F" }} The Bus Factor - {{ page.title }} (Audio Only - MP3)</a></li>
<li><a href="{{ page.videodl }}">{{ page.date | date: "%F" }} The Bus Factor - {{ page.title }} (MP4)</a></li>
